<div class='col sm12 actions'>
  <!-- {{link-to 'New' 'categories.new'}} -->
  {{md-btn text='All'
    action='openList'
  class='teal lighten-3'}}

  {{md-btn text='Add Category'
    action='openNew'
  class='teal lighten-3'}}

</div>

<div clas='col sm9'>
  {{outlet}}
</div>
